@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/open-sans/Open-Sans-300.eot');
  src: url('../fonts/open-sans/Open-Sans-300.eot?#iefix') format('embedded-opentype'),
       local('Open Sans 300'),
       local('Open-Sans-300'),
       url('../fonts/open-sans/Open-Sans-300.woff2') format('woff2'),
       url('../fonts/open-sans/Open-Sans-300.woff') format('woff'),
       url('../fonts/open-sans/Open-Sans-300.ttf') format('truetype'),
       url('../fonts/open-sans/Open-Sans-300.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/open-sans/Open-Sans-regular.eot');
  src: url('../fonts/open-sans/Open-Sans-regular.eot?#iefix') format('embedded-opentype'),
       local('Open Sans'),
       local('Open-Sans-regular'),
       url('../fonts/open-sans/Open-Sans-regular.woff2') format('woff2'),
       url('../fonts/open-sans/Open-Sans-regular.woff') format('woff'),
       url('../fonts/open-sans/Open-Sans-regular.ttf') format('truetype'),
       url('../fonts/open-sans/Open-Sans-regular.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/open-sans/Open-Sans-700.eot');
  src: url('../fonts/open-sans/Open-Sans-700.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Bold'),
       local('Open-Sans-700'),
       url('../fonts/open-sans/Open-Sans-700.woff2') format('woff2'),
       url('../fonts/open-sans/Open-Sans-700.woff') format('woff'),
       url('../fonts/open-sans/Open-Sans-700.ttf') format('truetype'),
       url('../fonts/open-sans/Open-Sans-700.svg#OpenSans') format('svg');
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/roboto/RobotoCondensed-Bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/roboto/RobotoCondensed-BoldItalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/roboto/RobotoCondensed-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/roboto/RobotoCondensed-Italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Sorts Mill Goudy';
    src: url('../fonts/sorts-mill-goudy/GoudyStM-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
